
.caja{
    width: 350px;
    height: 140px;
    background-color: rgb(221, 221, 221);
    
}
.caja2{
    width: 350px;
    height: 100px;
    background-color: rgb(34, 40, 49);
    
}
.caja3{
    width: 350px;
    height: 70px;
    background-color: rgb(48, 71, 94);
    
}
.caja4{
    width: 350px;
    height: 60px;
    background-color: rgb(240, 84, 84);
    
}



